<div class="container-fluid w-full">
    <!-- Page Heading -->
    <div
        class="d-sm-flex align-items-center justify-content-between mb-4"
        data-aos="fade-up"
    >
        <h1 class="h3 mb-0 text-gray-800">DASHBOARD</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div
            class="col-xl-3 col-md-6 mb-4"
            data-aos="fade-left"
            data-aos-delay="300"
        >
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-xs font-weight-bold text-info text-uppercase mb-1"
                            >
                                DITERIMA
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div
                                        class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                                    >
                                        <%= diterimaFix %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto" style="font-size: 30px;">
                            <%= `${diterimaPersen}%` %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="col-xl-3 col-md-6 mb-4"
            data-aos="fade-left"
            data-aos-delay="200"
        >
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-xs font-weight-bold text-success text-uppercase mb-1"
                            >
                                DITUNDA
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <%= ditunda %>
                            </div>
                        </div>
                        <div class="col-auto" style="font-size: 30px;">
                            <%= `${ditundaPersen}%` %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div
            class="col-xl-3 col-md-6 mb-4"
            data-aos="fade-left"
            data-aos-delay="400"
        >
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                            >
                                DIALIHKAN
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <%= dialihkan %>
                            </div>
                        </div>
                        <div class="col-auto" style="font-size: 30px;">
                            <%= `${dialihkanPersen}%` %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-xl-3 col-md-6 mb-4"
            data-aos="fade-left"
            data-aos-delay="500"
        >
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                            >
                                TOTAL RUJUKAN
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <%= diterima.length %>
                            </div>
                        </div>
                        <div class="col-auto" style="font-size: 30px;">
                            <%= totalPersen %>%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="d-sm-flex align-items-center justify-content-between mb-4"
        data-aos="fade-up"
    >
        <h1 class="h3 mb-0 text-gray-800">
            <a href="/admin/data" style="text-decoration: none; color: grey;"
                >PASIEN</a
            >
        </h1>
    </div>
    <% laporan.map((data,i = 0) => { %>
    <a
        href="/admin/data/detail/<%= data.id %>"
        style="text-decoration: none; color: grey;"
    >
        <div class="row mb-5" data-aos="fade-up">
            <div class="col-md-12">
                <div
                    class="card border-left-<%= data.news <= 2 ? 'success' : data.news <= 5 ? 'warning' : data.news < 6 ? 'danger' : 'danger' %>"
                >
                    <div class="card-header">
                        <h4>Nama : <%= data.nama %></h4>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <p>Jenis Kelamin : <%= data.jk %></p>
                                <p>Asal Rumah Sakit : <%= data.asal %></p>
                                <p>Usia : <%= data.usia %></p>
                                <p>News : <%= data.news %></p>
                                <p>
                                    Timing Masuk :
                                    <b><%= data.timingMasuk %></b>
                                </p>
                            </div>
                            <div class="col-auto">
                                <div
                                    class="d-flex flex-column align-items-center"
                                >
                                    <h2>Respon Time</h2>
                                    <h2 class="">
                                        <b><%= data.responTime %></b>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <% }) %>
    <input
        type="hidden"
        value="<%= data %>"
        name="laporanData"
        id="laporanData"
        class="laporanData"
    />
    <!-- harian content -->
    <!-- Content Row -->
    <!-- konten harian -->

    <!-- konten bulanan -->

    <!-- Content Row -->
</div>
