<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Data Bank</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Date</th>
            <th>Title</th>
            <th>Name Member</th>
            <th>Name Bank</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% booking.map((data,i) => { %>
          <tr>
            <td><%= i + 1 %></td>
            <td>
              <%= data.bookingStartDate.toLocaleString().split(',')[0] %> s/d
              <%= data.bookingEndDate.toLocaleString().split(',')[0] %>
            </td>
            <td><%= data.itemId.title %></td>
            <td>
              <%= data.memberId.firstName %> <%= data.memberId.firstName %>
            </td>
            <td><%= data.bankId.nameBank %></td>
            <td><%= data.payments.status %></td>
            <td>
              <a
                href="/admin/booking/<%= data.id %>"
                class="btn btn-success btn-circle btn-sm"
              >
                <i class="fas fa-eye"></i>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
