<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#add-modal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="myTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% category.map((result,key) => {%>
          <tr>
            <td><%= key+1 %></td>
            <td><%= result.name %></td>
            <td>
              <a
                href="javascript:void()"
                type="button"
                class="btn btn-warning btn-circle btn-sm button-edit"
                data-id="<%=result.id %>"
                data-name="<%=result.name %>"
                ><i class="fas fa-edit"></i
              ></a>
              <form
                action="/admin/category/<%=result.id %>?_method=DELETE"
                method="POST"
                class="d-inline"
                id="del-<%= result.id %>"
              >
                <button type="submit" class="btn btn-danger btn-circle btn-sm">
                  <i
                    class="fas fa-trash"
                    data-confirm="Yakin ingin menghapus data"
                    data-confirm-yes="submitdel(<%= result.id %>)"
                  ></i>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
